<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Post Detail</title>
</head>
<body>
<div class="container">
  <h1>Online Discussion Platform</h1>
  <hr />
<!--  <a th:href="@{/}">Home</a>-->
  <h2 th:text="${post.title}">Post Title</h2>
  <h5 th:text="'Written by ' + ${post.user.firstName + ' ' + post.user.lastName}">Author</h5>
  <h5 th:text="'Published at ' + ${post.createdAt}">Published At</h5>
  <h5 th:text="'Updated at ' + ${post.updatedAt}">Updated At</h5>
  <p th:text="${post.body}">body text</p>
  <hr />
  <h3>Comments</h3>
  <div class="comments-container">
    <div class="comment" th:each="comment : ${comments}">
      <h5 th:text="'Comment by ' + ${comment.user.firstName + ' ' + comment.user.lastName}">Author</h5>
      <p th:text="${comment.content}">Comment content</p>
    </div>
  </div>
  <hr />
  <form action="#" th:action="@{/posts/{postId}/comments(postId=${post.id})}" method="POST">
    <div>
      <label for="comment">Add Comment</label>
      <textarea id="comment" name="comment" placeholder="Write your comment here"></textarea>
    </div>
    <button type="submit">Submit Comment</button>
  </form>
</div>
</body>
</html>
